@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family:'Gilroy-Black';
  src: local('Gilroy'), 
       url('/src/Fonts/Gilroy-Black.woff') format('woff')
       url('/src/Fonts/Gilroy-Black.woff') format('woff')

}
@font-face {
  font-family:'Gilroy-bold';
  src: local('Gilroy'), 
       url('/src/Fonts/Gilroy-Black.woff') format('woff')
       url('/src/Fonts/Gilroy-Black.eot') format('eot')

}


body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}

.container{
   @apply mx-auto mt-0 max-w-[95%] lg:max-w-[90%];

}
::-webkit-scrollbar {
  width: 0;
}

